<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h2>Exclusively CRM Login</h2>
{% if errors %}
    <p>{{ errors }}</p>
{% endif %}

<form method="post" action="/">
    {% csrf_token %}
    <table>
        <tr>
            <td>Username :</td>
            <td><input type="text" name="username"></td>
        </tr>
        <tr>
            <td>Password :</td>
            <td><input type="password" name="password"></td>
        </tr>
    </table>

    <input type="submit" value="login"/>
</form>

</body>
</html>