<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h2>Reset Password Form</h2>
{% if errors %}
    <p>{{ errors }}</p>
{% endif %}

<form method="post" action="/change_password/">
    {% csrf_token %}
    <table>
        <tr>
            <td>Old Password :</td>
            <td><input type="password" name="old_password"></td>
        </tr>
        <tr>
            <td>New Password :</td>
            <td><input type="password" name="new_password"></td>
        </tr>
        <tr>
            <td>Confirm Password :</td>
            <td><input type="password" name="confirm_password"></td>
        </tr>
    </table>

    <input type="submit" value="Reset Password"/>
</form>

</body>
</html>