{% load render_table from django_tables2 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exclusively {{ user.profile.role|upper }} Dashboard</title>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <style type="text/css">
        body {
            font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
            font-size: 11px;
        }

        #table-wrapper {
            float: left;
            margin-top: 110px;
        }

        #header {
            float: left;
            position: fixed;
        }

        #pager {
            margin-top: 50px;
            padding-left: 20px;
            position: fixed;
            float: left;
        }

        .pagination {
            padding-left: 20px;
            line-height: 30px;
        }

        .current {
            padding-left: 20px;
        }

        .cardinality {
            padding-left: 20px;
        }

        td, th {
            white-space: nowrap;
        }

        th {
            cursor: pointer;
        }

        #pager div {
            float: left;
        }

        div.ui-datepicker {
            font-size: 11px;
        }

        .selectable {
            margin: 5px 5px;
        }

        .select-ediatble {
            max-width: 250px;
        }

        #user-selector {
            font-weight: bold;
        }

{#        th:first-child, th:nth-child(2), th:nth-child(3) {#}
{#            position: fixed;#}
{#            background-color: white;#}
{#        }#}
{##}
{#        td:first-child, td:nth-child(2), td:nth-child(3) {#}
{#            position: fixed;#}
{#            background-color: white;#}
{#        }#}
{##}
{#        th:first-child, td:first-child {#}
{#            width: 40px;#}
{##}
{#        }#}
{##}
{#        th:nth-child(2), td:nth-child(2) {#}
{#            width: 80px;#}
{#            margin-left: 40px;#}
{#        }#}
{##}
{#        th:nth-child(3), td:nth-child(3) {#}
{#            width: 100px;#}
{#            margin-left: 120px;#}
{#        }#}
{##}
{#        th:nth-child(4), td:nth-child(4) {#}
{#            width: 100px;#}
{#            margin-left: 220px;#}
{#        }#}

    </style>
</head>
<body>
<div class="row hideable" id="header">
    <div class="col-sm-5">
        <div style="float: left;padding-top: 10px;padding-left: 10px;font-weight: bold;font-size: 18px"
             id="role-header">
            <a href="/orders/dashboard/" style="text-decoration: none">
                {{ user.profile.role|upper }} Dashboard
            </a>
        </div>
        <div style="padding:15px 1px;font-size: 13px;float: right;margin-right: -405%">
            <input type="text" placeholder="Search ... " id="search_crm"
                   style="width: 150px;float: left;margin:-5px 20px">
            Welcome
            <select id="user-selector">
                <option value="{{ user.get_full_name }}" selected>{{ user.get_full_name|title }}</option>
                <option value="reset_pass">Change Password</option>
                <option value="logout">Logout</option>
            </select>
            {{ datetime }}
        </div>
    </div>
</div>
<div class="dataTables_wrapper form-inline dt-bootstrap">
    <div class="row hideable" id="pager">

        <div>
            Show:
            <select id="per_page" class="selectable">
                <option value="10" selected>10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
        <div>

            VRM:
            <select id="vrm" class="selectable">
                <option value="">----</option>
                {% for vrm in vrms %}
                    <option value="{{ vrm }}">{{ vrm|title }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            Vendor:
            <select id="vendor" class="selectable">
                <option value="">----</option>
                {% for i in vendors %}
                    <option value="{{ i }}">{{ i|title }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            Category:
            <select id="category" class="selectable">
                <option value="">----</option>
                {% for i in category %}
                    <option value="{{ i }}">{{ i|title }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            Sub Category:
            <select id="sub_category" class="selectable">
                <option value="">----</option>
                {% for i in sub_category %}
                    <option value="{{ i }}">{{ i|title }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            Customer Status:
            <select id="customer_status" class="selectable">
                <option value="">----</option>
                {% for i in customer_status %}
                    <option value="{{ i }}">{{ i|title }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            Vendor Status:
            <select id="vendor_status" class="selectable">
                <option value="">----</option>
                {% for i in vendor_status %}
                    <option value="{{ i }}">{{ i|title }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            QC Status:
            <select id="qc_status" class="selectable">
                <option value="">----</option>
                {% for i in qc_status %}
                    <option value="{{ i }}">{{ i|title }}</option>
                {% endfor %}
            </select>
        </div>

        <div>
            Reason:
            <select id="qc_reason" class="selectable">
                <option value="">----</option>
                {% for i in qc_reason %}
                    <option value="{{ i }}">{{ i|title }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            Country:
            <select id="country" class="selectable">
                <option value="">----</option>
                {% for i in country %}
                    <option value="{{ i }}">{{ i|title }}</option>
                {% endfor %}
            </select>
        </div>
        {% if user.profile.role != 'CX' %}
        <div>
            Inward Time:
            <select id="inward_time__isnull" class="selectable">
                <option value="" selected>----</option>
                <option value="true">Not Inward</option>
                <option value="false">Inward</option>
            </select>
        </div>
        {% endif %}
        <div>
            <select id="date-filter">
                <option value="order_time">Order Time</option>
                <option value="customer_edd">Customer EDD</option>
                <option value="shipping_edd">Shipping EDD</option>
                <option value="vendor_edd">Vendor EDD</option>
                <option value="revised_vendor_edd">Revised Vendor EDD</option>
                <option value="revised_customer_edd">Revised Customer EDD</option>
                <option value="edd_as_per_vendor">EDD as per Vendor</option>
                <option value="po_creation_time">PO Creation Time</option>
                <option value="po_acceptance_time">PO Acceptance Time</option>
                <option value="inward_time">Inward Time</option>
                <option value="qc_time">QC Time</option>
                <option value="rtv_time">RTV Time</option>
                <option value="shipping_time">Shipping Time</option>
                <option value="_50_per_vendor_edd">50% Vendor EDD</option>
                <option value="_2_days_vendor_edd">2 Days Vendor EDD</option>
                <option value="_50_per_customer_edd">50% Customer EDD</option>
                <option value="_2_days_customer_edd">2 Days Customer EDD</option>
                <option value="scheduled_pickup_date">Scheduled Pickup Date</option>
            </select>
            <input type="text" id="start-date" placeholder="start date" style="width: 100px">
            <input type="text" id="end-date" placeholder="end date" style="width: 100px">
            <button id="filter" type="submit">Filter</button>
        </div>

        <div>
            <button type="reset" id="reset">Reset</button>
        </div>
        <div>
            <button type="button" id="export-csv">Export</button>
        </div>
    </div>

    <div class="row" id="table-wrapper">
        <div class="col-sm-5">
            <div class="table-responsive" style="float: left">
                {% render_table table %}</div>
        </div>
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous">
</script>
<script type="text/javascript" src="/static/js/crm.js"></script>
</body>
</html>