{% if android_report %}
    <div style="width: 100%;display: block;float: left;">
        <h3>Omniture Android App Report : {{ android_report_time }}</h3>
        <table style="display: block;float: left;border-spacing: 0; border-collapse: collapse">
            <tr>
                <th style="border: 2px solid #000000;padding-left: 5px;padding-right: 5px">S.No.</th>
                <th style="border: 2px solid #000000;padding-left: 5px;padding-right: 5px">Page</th>
                <th style="border: 2px solid #000000;padding-left: 5px;padding-right: 5px">Visits</th>
                <th style="border: 2px solid #000000;padding-left: 5px;padding-right: 5px">Drop %</th>
            </tr>
            {% for report in android_report %}
                <tr>
                    <td style="border: 2px solid #000000;padding-left: 5px;padding-right: 5px">{{ forloop.counter }}</td>
                    <td style="border: 2px solid #000000;padding-left: 5px;padding-right: 5px">{{ report.page }}</td>
                    <td style="border: 2px solid #000000;padding-left: 5px;padding-right: 5px">{{ report.visits }}</td>
                    <td style="border: 2px solid #000000;padding-left: 5px;padding-right: 5px">{{ report.perc }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endif %}